body {

    background: rgb(4, 20, 56);
    color:rgb(14, 171, 233)

}
header {
border-bottom: solid 2px blueviolet;
padding: 0px;
font-size:32px;
color:aliceblue;
}
section {
    background: rgb(255, 255, 164);
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

